main{
    margin: 7rem auto 3rem;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

h2{
    margin-top: 1rem;
}

main a{
    color: rgb(28, 150, 211);
}